.title {
  text-align: center;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}
.aboutme {
  color: blueviolet;
}
p {
  text-align: left;
}
.information {
  color: #c0ffea;
  background-color: #ff70bc;
}
.info {
  color: #fffeca;
}
.newinfo {
  background-color: #ff70bc;
}
.additionalinfo {
  color: #c0ffea;
}
.here {
  color: #fffeca;
}
.newcolor {
  color: white;
}
